body{
    font-family: 'Montserrat', sans-serif !important;
    color: #202223;
}

h1 h2 h3 h4{
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #52616b;
}

.header-img{
    width: 35%;
}

.search{
    background-color: #f0f5f9;
}

.container-fluid{
    padding: 2% 8% !important;
}

img{
    width: 100%;
    margin: auto 0;
}

.main {
    padding: 5% 5%;
    background-color: #c9d6df;
}

.text-box{
    padding: 20px 10px;
    line-height: 1.5;
}
.col-lg-6{
    margin-top: 5%;
}

.list-group-item{
    background-color: #f0f5f9;
}

.list-group :hover{
    background-color: #52616b;
}

footer{
    background-color: #52616b;
}


html {
    background-image: linear-gradient(#eee, #aaa);
    height: 100%;
}
.art-img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    max-height: 100%;
    max-width: 100%;
}
.art-frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 10%;
    padding: 0vmin;
    position: relative;
    text-align: center;
    width: 90%;
}
.art-frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}
.art-frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap');
.carousel-nav-icon {
    height: 48px;
    width: 48px;
}
.carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
}

.list-group{
    margin-right: 15%;
    margin-top: 15%;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px)
{
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

.centered-text{
    text-align: center;
    line-height: 2;
    width: 100%;
    margin: 2% auto;
}

button a:hover{
    color: #04315F;
}

